@import "tailwindcss";

body::-webkit-scrollbar{
  display: none;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInRight 0.6s ease-out forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.6s ease-in forwards;
}
